.navigation {
    padding: 20px 5px;
    margin: 0;
}

.search_results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search_results li:first-child {
    border-top: solid 1px #DDDDDD;
}

.search_results li {
    border-bottom: solid 1px #DDDDDD;

    padding: 12px 35px;
}
