html,
body {
    color: #111111;
    background-color: #242424;
    font-family: 'Roboto', sans-serif;
}

.sweet-alert {
    font-family: 'Roboto', sans-serif;
}

.sweet-alert h2 {
    padding: 0;
    margin-top: -22px;
    margin-bottom: 5px;
}

.navigation {
    padding-top: 30px;
}

.selectize-input,
.selectize-input input {
    line-height: 16px;
}

.selectize-dropdown-content {
    max-height: 350px;
}

.selectize-dropdown-content .active {
    background-color: #7FDBFF;
    color: #111111;
}

.card_preview img {
    display: block;
    margin: 0 auto;
    cursor: no-drop;
}

.card_count_banner img {
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    opacity: 0.2;
}

.copyright {
    padding: 35px 0;
    color: #ffffff;
    opacity: 0.1;
}
