html,
body {
    background-color: #242424;
    font-family: 'Roboto', sans-serif;
    min-width: 640px;
}

.sweet-alert {
    font-family: 'Roboto', sans-serif;
}

.sweet-alert h2 {
    padding: 0;
    margin-top: -22px;
    margin-bottom: 4px;
}

.sweet-alert table {
    line-height: 1.5em;
}

.collection_preview {
    width: 100%;
    table-layout: fixed;
    margin-top: 50px;
}

.collection_preview img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 303px;
    cursor: no-drop;
}

.navigation {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 5px;
    margin: 0;
    min-width: 640px;
}

.copyright {
    padding: 35px 0;
    color: #ffffff;
    opacity: 0.1;
}
